html {
    box-sizing: border-box;
}

div {
    max-width: 65vw;
}

div, section {
    display: flex;
}

.notes {
    flex-direction: column;
}

.week {
    flex-wrap: wrap;
}

.week span:nth-child(1) {
    flex: 1 0 100%;
}

.week span {
    flex: 1 1 18%;
    text-align: center;
    padding-top: 1.5em;
}

.week span:nth-child(7) {
    flex: 1 0 100%;
}

span {
    border: 1px solid black;
}

.notes span {
    flex-basis: 10em;
    padding: 2em;
    padding-top: 0.3em;
    text-align: center;
}