
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-family: Georgia, serif;
}

article {
    background-color: rgb(51, 102, 153);
    border-radius: 1rem;
    margin:100px 50px 10px 50px;
    color: white;
}

article div {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

p, h1 {
    padding-left: 10px;
    padding-right: 10px;
    
}

p {
    padding-bottom: 10px;
}