# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\deyan\Documents\SoftUni\JavaAdvanced\JavaOOP\Exams\10April2021\UnitTestingAqua\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
