
<p *ngIf="errorMessage" class="error">{{errorMessage}}</p>

<ng-container *ngIf="!!art || errorMessage; else loading">
    <div class="art-item" *ngIf="!!art">
        <p class="title">{{art.name}}</p>
        <img [src]="art.imageUrl"/>
        <p>Artist: {{art.userId.username}}</p>
        <p>Email: {{art.userId.email}}</p>
        <p *ngIf="(isLoggedIn$ | async)">Tel: {{art.userId.tel}}</p>
        <p>Price: {{art.price}}</p>
    </div>
</ng-container>


<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>

