
* {
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    max-width: 1400px;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 180px;
    height: 130px;
    margin-left: 80px;
}

.header-nav,
.header ul {
    display: flex;
}

.header-nav {
    margin-right: 80px;
}

.header ul {
    align-self: center;
}

.header li {
    margin-right: 15px;
}

.payments {
    background: #54546D;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}

.calc {
    position: absolute;
    left: -36px;
    top: 67px;
    width: 200px;
    height: 200px;
}

.payments-basics,
.payments-fund,
.payments-prof {
    flex: 0 1 27%;
    border: 1px solid lightgray;
    margin-right: 25px;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.46);
    background: white;
    position: relative;
    top: -4px;
}

.payments-basics-footer,
.payments-fund-footer,
.payments-prof-footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    text-align: center;
    position: absolute;
    top: 192px;
    width: 100.5%;
    left: -1px;
}

.education-icons {
    position: absolute;
    right: -10px;
}

.bank {
    margin: 100px 0px 100px 100px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}