<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
       <meta charset="UTF-8">
    <title>MobileShop</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="brand : ${brandList}"  class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Car brand:
                <span th:text="${brand.name}"></span>
            </h2>
            <div>Models:
                <table class="table-responsive">
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
<!--                    <tr>-->
<!--                        <th>No</th>-->
<!--                        <th >Model Name</th>-->
<!--                        <th >Model Category</th>-->
<!--                        <th >Model Start Year</th>-->
<!--                        <th >Model End Year</th>-->
<!--                        <th><img alt="image" src="/"-->
<!--                                 class="img-thumbnail rounded"></th>-->
<!--                    </tr>-->

                    <tr th:each="model : ${brand.getModels()}">
                        <td th:text="${model.id}"></td>
                        <td th:text="${model.name}"></td>
                        <td th:text="${model.category}"></td>
                        <td th:text="${model.startYear}"></td>
                        <td th:text="${model.endYear}"></td>
                        <td class="card-img-top-wrapper brand-img"><img th:src="${model.imageUrl}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer">Footer</div>
</div>
</body>
</html>
